cleaning-company-master/xsd/userdb.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Userdb">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="User">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Fname" type="xs:string" />
                    <xs:element name="Lname" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Mobileno" type="xs:unsignedLong" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="cleaner_name" type="xs:string" />
              <xs:element name="Type_of_service" type="xs:string" />
              <xs:element name="Price_of_service" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="date_of_cleaning" type="xs:string" />
              <xs:element name="time_of_cleaning" type="xs:string" />
              <xs:element name="booking_status" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="category" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>